[Unit]
Description=Todo Service

[Service]
Environment=REDIS_HOST=redis-${{ENV}}.surendrazs.tk
ExecStart=/bin/node  --no-warnings  /home/ubuntu/todo/server.js
SyslogIdentifier =todo
[Install]
WantedBy=multi-user.target
