[Unit]
Description=login service
[Service]
Type=simple
Environment=USERS_API_ADDRESS=http://users-dev.zssurendra.tk:100
Environment=AUTH_API_PORT=100
ExecStart=/home/ubuntu/login/login-ci
Restart=on-failure
[Install]
WantedBy=multi-user.target