[Unit]
Description=login service
[Service]
Type=simple
Environment=USERS_API_ADDRESS=http://users-dev.zssurendra.tk:80
Environment=AUTH_API_PORT=80
ExecStart=/home/ubuntu/login/login-ci  --no-warnings
Restart=on-failure
SyslogIdentifier=login
[Install]
WantedBy=multi-user.target